body.home,
body.front-page,
body.page,
body.single,
body.category,
body.archive {
  font-family: $body-font-family !important;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

#top {
  #main {
    padding-top: rem-calc(39) !important;
  }

  .container {
    &.full-width {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }

  }

  .avidyne {
    &-rows {
      .row {
        float: left;
        max-width: 100%;
        clear: none;
        margin: auto;

        p:empty {
          display: none;
        }

      }

    }

    &-12 {
      @include breakpoint(small) {
        width: 100%;
      }

      @include breakpoint(medium) {
      }

      @include breakpoint(large) {
      }

    }

    &-6 {
      @include breakpoint(small) {
      }

      @include breakpoint(medium) {
        width: 50%
      }

      @include breakpoint(large) {
      }

    }

    &-4 {
      @include breakpoint(small) {
      }

      @include breakpoint(medium) {
        width: 33%
      }

      @include breakpoint(large) {
      }

    }

    &-3 {
      @include breakpoint(small) {
      }

      @include breakpoint(medium) {
        width: 25%
      }

      @include breakpoint(large) {
      }

    }

  }

}

.page-template-page-product-documentation {
  #support-filters {
    .filter-wrapper {
      text-align: center;
      margin: rem-calc(20) auto auto;

      & > div {
        display: inline-block;
        padding: rem-calc(10 30);
        text-align: center;

        &.active-filter {
          border: 2px solid $avidyne-neon-green;
          color: #46c677;
          transition: all 250ms ease-in-out;

          &:hover {
            @include white-hollow-btn($avidyne-neon-green, #FFF, "");
          }

        }

        &:hover {
          cursor: pointer;
        }

      }

    }

  }

  .support-main-title {
    text-align: center;
    color: $avidyne-blue;
    margin: rem-calc(20 0 0);
    clear: both;
  }

  .tab_titles {
    float: none;
    max-width: rem-calc(1310);
  }

  .toggle_icon {
    .vert_icon {
      left: 6px;
      top: 2px;
    }

    .hor_icon {
      top: 6px;
      left: 2px;
    }

  }

  .toggler,
  .toggle_content {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin: auto;
    transition: all 250ms ease-in-out;

    &:hover {
      background: $avidyne-background !important;
      transition: all 250ms ease-in-out;
    }

  }

  .toggler {
    font-size: rem-calc(17);
    color: $satan-gray !important;
    padding-left: rem-calc(70);
  }

  .tab_inner_content {
    .togglecontainer {
      &:first-child {
        .toggler {
          border-top: 0 !important;
        }

      }

      &:last-child {
        .av_toggle_section {
          .single_toggle {
            border-bottom: 1px solid $avidyne-background !important;
          }

        }

      }

    }

  }

  .tab_content {
    padding: 0 !important;
    overflow: hidden !important;
  }

  .toggle_content {
    background: $avidyne-background !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    .support-document {
      padding: rem-calc(20 20 20 70);
      border-bottom: 1px solid #ebebeb !important;

      &:last-child {
        border: 0 !important;
      }

    }

  }

  .avidyne-documentation-section {
    .data-block span {
      color: $satan-gray;
      display: block;
      font-size: rem-calc(15);
    }

    a {
      color: $avidyne-teal;
      text-transform: uppercase;
      font-weight: $global-weight-bold;
      display: block;
      font-size: rem-calc(15);
      transition: all 250ms ease-in-out;

      &:hover {
        transition: all 250ms ease-in-out;
        text-decoration: none;
      }

    }

  }

}

#top.single-product,
#top.archive,
#top.page,
#top.single {
  .container {
    h1 {
      &#product-main-title {
        padding: rem-calc(275) 0;
        text-align: center;
        color: $white;
        font-weight: $global-weight-medium;
        line-height: 1.2;
        font-size: rem-calc(42);

        & > span {
          font-size: rem-calc(50);
        }

      }

    }

    .full-width {
      &.no-padding {
        padding: 0 !important;

        img {
          margin: 0 !important;
        }

        p {
          padding: rem-calc(40 0 20);
        }

      }

    }

    .thin-content-divider {
      .container {
        padding: 0;

        & > div {
          height: rem-calc(1);
          margin: rem-calc(40 0);
          background: #e8e8e8;
        }

      }

    }

    .post-title {
      font-size: rem-calc(36);
      font-weight: $global-weight-normal;
      color: $black;
    }

    .product-price {
      margin: rem-calc(150 0 25);
      display: block;
      color: $satan-gray;

      span {
        display: inline-block;
        font-size: rem-calc(24);
      }

    }

    .tab_titles {
      text-align: center;
      border-top: 1px solid $avidyne-extra-color;
      border-bottom: 1px solid $avidyne-extra-color;
      max-width: rem-calc(1310);
      margin: auto auto rem-calc(50);
      float: none;

      .tab {
        float: none;
        display: inline-block;
        border: 0;
        text-transform: uppercase;
        background: transparent;
        font-size: rem-calc(14);
        position: relative;

        &.active_tab {
          &::after {
            content: '';
            display: block;
            height: rem-calc(2);
            background-color: $avidyne-blue;
            max-width: 50%;
            margin: auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
          }

        }

        &:focus {
          box-shadow: none;
          border: 0;
          outline: none;
        }

      }

    }

    .av_tab_section {
      .tab_content {
        border-top: 0;
      }

    }

    .product-excerpt {
      p {
        font-size: rem-calc(12) !important;
      }

    }

    .single-product-social {
      .av-share-box {
        clear: none;
        float: none;
        width: auto;

        h5 {
          display: none;
          visibility: hidden;
        }

      }

    }

    .product-links {
      border-bottom: 1px solid $avidyne-extra-color;
      margin-bottom: rem-calc(15);

      a {
        background: transparent;
        transition: all .25s ease-in-out;

        &.request-info {
          border-color: $avidyne-blue;
          color: $avidyne-blue;

          &:hover {
            background: $avidyne-blue;
            color: $white;
          }

        }

        &.find-a-dealer {
          border-color: $avidyne-green;
          color: $avidyne-green;

          &:hover {
            background: $avidyne-green;
            color: $white;
          }

        }

        &:first-child {
          margin-right: rem-calc(20);
        }

        &:hover {
          transition: all .25s ease-in-out;
        }

      }

    }

    .avia-gallery {
      margin-bottom: rem-calc(50);

      .avia-gallery-big {
        margin-bottom: rem-calc(20);
      }

      .avia-gallery-thumb {
        .slick-list {
          width: 100%;

          .slick-track {
            width: 100% !important;
          }

        }

      }

    }

    &_wrap {
      border: 0;
    }

  }

  .avia-gallery .avia-gallery-thumb {
    display: flex;
    align-items: baseline;

    a {
      img {
        width: auto;
      }

    }

  }

  .template-product.content {
    p {
      font-size: rem-calc(16);
    }

  }

  #product-overview-content {

    h1,
    h2,
    h3 {
      display: block;
      font-size: rem-calc(36);
      font-weight: $global-weight-normal;
      color: $avidyne-accent;
      line-height: 1.2;
    }

    h4 {
      display: block;
      font-size: rem-calc(16);
      font-weight: $global-weight-extra-bold;
      color: $avidyne-accent;
    }

    b {
      color: $satan-gray;
      font-weight: $global-weight-medium;
    }

    p {
      font-size: rem-calc(19);
      color: $satan-gray;
      font-weight: $global-weight-light;
    }

    .product-overview-section {
      padding: rem-calc(75 15);
      &.no-padding-top {
        padding-top: 0 !important;
      }
      .container {
        float: none;
      }

      &#product-overview-section-1,
      &#product-overview-section-2,
      &#product-overview-section-3,
      &#product-overview-section-4,
      &#product-overview-section-5,
      &#product-overview-section-6,
      &#product-overview-section-7,
      &#product-overview-section-8,
      &#product-overview-section-9,
      &#product-overview-section-10 {
        background: transparent;
        &.full-width {
          &.gray-background {
            background: $avidyne-extra-color;
          }
        }
        &.ifd550-duo-comparison {
          &.gray-background {
            background: #F8F8F8 !important;
            border-top: 1px solid #e8e8e8;
          }
        }
      }

      &#product-overview-section-2,
      &#product-overview-section-4 {
        // margin: rem-calc(50) auto rem-calc(100);
        margin: 0;
        padding: rem-calc(75 15);

        .full-width-section {
          position: relative;
          width: 100%;
          left: 0;
          right: 0;

          .container {
            padding: 0;

            p {
              font-size: rem-calc(19) !important;

              &:last-child {
                margin: 0;
              }

              a {
                margin-top: rem-calc(25);
                display: table;
                clear: both;
                @include white-hollow-btn($avidyne-teal, #FFF, "");
              }

            }

          }

        }

        img {
          margin-top: rem-calc(35);
        }

      }

      &#product-overview-section-2 {
        img {
          margin-top: rem-calc(60);
        }

      }

      &.product-overall-comparison-chart,
      &.product-duo-comparison-chart {

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,f0f0f0+100&0+0,0.65+100 */
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(240, 240, 240, 0.65) 100%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(240, 240, 240, 0.65) 100%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(240, 240, 240, 0.65) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6f0f0f0', GradientType=0) !important; /* IE6-9 */
        padding: rem-calc(0 0 150);
        border-bottom: 1px solid #e8e8e8;
      }

      &.product-duo-comparison-chart {
        padding: rem-calc(100 0 50);

        .condition {
          font-size: rem-calc(20);
          color: $satan-gray;
          padding: rem-calc(100 0 50);
          font-weight: $global-weight-light;
        }

        .gw-go-header {
          strong {
            font-weight: $global-weight-light;
            display: block;
            font-size: rem-calc(16);
          }

          span.comparison-price {
            font-size: rem-calc(30);
            color: $black;
            display: block;
            margin: rem-calc(30) auto;
            color: $satan-gray;
          }

        }

        h3,
        h4 {
          text-align: center;
        }

        h3 {
        }

        h4 {
          font-size: rem-calc(30);

          &.avidyne-green {
            color: $avidyne-green;
          }

          & + p {
            text-align: center;
          }

        }

        p {
          font-size: rem-calc(20);
        }

      }

    }

  }

  #related-products-title {
    text-align: center;
    display: block;
  }

  .related-spacer {
    display: block;
    margin: rem-calc(35 0);
  }

  .active-tab-content,
  .tab_content {
    background-color: transparent !important;
    border: 0 !important;
    padding-left: 0;
    padding-right: 0;
  }

  #related-products {
    display: block;
    padding: 0;
    margin: 0 0 rem-calc(100) 0;

    li {
      img {
        display: block;
        margin: auto;
        padding: rem-calc(0 10);
      }

    }

    i {
      &::before,
      &::after {
        color: $black;
      }

    }

  }

  .ifd-product-page {
    .aviaccordion-preview {
      &:hover {
        cusor: pointer;
      }

    }

    .aviaccordion-preview-title {
      padding: 5% 10%;
    }

    h3 {
      display: block;
      font-size: rem-calc(30);
      line-height: 1.2;
      margin-bottom: rem-calc(15);
    }

    p {
      font-size: rem-calc(19) !important;
      font-weight: $global-weight-light !important;
      line-height: 1.3;
      color: $white !important;

      & + .aviaccordion-slide-link {
        display: none;
      }

    }

    a {
      position: relative;
    }

    a.avidyne-white {
      @include white-hollow-btn($white, #000, "");
      margin-top: rem-calc(25);
      clear: both;
      display: table;
      font-size: rem-calc(18);
    }

  }

}


#top.single-product {
  .post-title {
    line-height: 1.2;
    margin-bottom: rem-calc(20);
    display: block;
    & + p {
      color: $satan-gray;
      font-size: rem-calc(19) !important;
      line-height: 1.4;
    }
    .product-excerpt {
      p {
        color: $satan-gray;
        display: block;
      }
    }
  }
}

#top.page {
  .teal-button {
    @include white-hollow-btn($avidyne-teal, #FFF, "");
    display: table;
    margin-left: auto;
    margin-right: auto;

    &::after {
      transform: rotate(-45deg);
    }

  }

  .full-width {
    border: 0;

    &.no-padding {
      padding: 0 !important;
    }

    &.no-padding-top {
      padding-top: 0 !important;
    }

    .template-page.content {
      width: 100%;
      max-width: 100%;
      border: 0;
    }

  }

  .teal-button.diagonal-arrow {
    @include white-hollow-btn($avidyne-teal, #FFF, "\f061");
    display: table;
    margin-left: auto;
    margin-right: auto;

    &::after {
      transform: rotate(-45deg);
    }

  }

  .no-border {
    border: 0 !important;
  }

  .no-padding {
    padding: 0 !important;
  }

  .no-hover {
    &:hover {
      background: none !important;
      color: $satan-gray !important;

      &::after {
        color: $satan-gray !important;
      }

    }

  }

  .teal-button.no-padding.no-border {
    text-align: center;
  }

  #page-main-title {
    padding: rem-calc(275) 0;
    text-align: center;
    color: $white;
    font-weight: $global-weight-medium;
    line-height: 1.2;
    font-size: rem-calc(20);

    & > span {
      font-size: rem-calc(50);
      font-weight: $global-weight-bold;
      display: block;
      margin-bottom: rem-calc(15);
    }

  }

  &.page-template-page-fullwidth {
    #main {
      main.full-width {
        width: 100%;
        border: 0;
        padding: 0;

        .entry-content-wrapper {
          padding: 0;
        }

      }

      .container_wrap_first {
        padding: rem-calc(50 0);
      }

    }

    .company-paragraph {
      p {
        font-size: rem-calc(19);
        margin: 0;
      }

    }

    .slim-content {
      &.bg-image {
        background-size: auto;
      }

      .content {
        width: 100%;
        max-width: 100%;
        margin: auto;
        border: 0;
      }

      h1,
      blockquote {
        max-width: rem-calc(900);
        margin: auto;
      }

      h1 {
        font-size: rem-calc(30);
        margin-bottom: rem-calc(20);
        color: $avidyne-blue;
      }

      blockquote {
        border: 0;
        margin: rem-calc(40) auto rem-calc(40) auto;
        display: block;

        p {
          max-width: 100%;
          font-size: rem-calc(19);
          border-left: 3px solid $avidyne-teal;
          padding-left: rem-calc(15);
          font-style: italic;
          color: $satan-gray;
        }

      }

      p {
        font-size: rem-calc(19);
      }

    }

    #support-full-background,
    #support-full-background .content {
      width: 100%;
      max-width: 100%;
      background: #EEE;
    }

    #after_section_1,
    #after_section_2,
    #after_section_3,
    #after_section_4,
    #after_section_5,
    #after_section_6,
    #after_section_7,
    #after_section_8 {
      .container {
        // display: none;
      }

      border: 0 !important;

      .content {
        width: 100% !important;
        max-width: 100% !important;
        border: 0 !important;
      }

    }

    .avidyne-timeline {
      .container {
        max-width: 100%;
        margin: auto;
      }

    }

  }

  .support-callout {
    margin: rem-calc(50 0);

    .avia_textblock {
      h2 {
        color: $avidyne-blue;
        font-size: rem-calc(24);
        margin-bottom: rem-calc(25);
        line-height: 1.3;
        font-weight: $global-weight-bold;
        text-transform: capitalize;
      }

      p {
        color: $satan-gray;
        font-size: rem-calc(15);
      }

      small {
        line-height: 1.5;
        display: block;
      }

      a {
        line-height: 1;
        font-size: rem-calc(16);
      }

      .support-phone {
        &.main-phone {
          color: $avidyne-teal;
          font-size: rem-calc(30);
          display: block;
          text-align: center;
          font-weight: $global-weight-normal;
        }

        &.alt-phone,
        &.fax {
          font-size: rem-calc(18);
          display: block;
          text-align: center;
          color: $satan-gray;
          margin: rem-calc(0 0 5);
        }

        &.alt-phone {
        }

        &.fax {
        }

      }

      .support-open-closed-day {
        display: block;
        text-align: center;
        color: $avidyne-black;
        font-size: rem-calc(16);
      }

      .support-open-closed-days {
        display: block;
        text-align: center;
        color: $satan-gray;
        margin: rem-calc(25 0 5);
        font-size: rem-calc(16);
        font-weight: $global-weight-bold;
      }

      .support-open-closed-hours {
        display: block;
        text-align: center;
        color: $satan-gray;
        font-size: rem-calc(15);
      }

      .closed-holidays {
        display: block;
        text-align: center;
        color: $avidyne-content-color;
        font-size: rem-calc(14);
        margin: rem-calc(0 0 25);
      }

      small {
        &.centered {
          diplsay: block;
          text-align: center;
          margin: rem-calc(20 0 0);
          color: $avidyne-content-color;
        }

      }

      sup {
        font-size: rem-calc(12);
        display: inline-block;
      }

    }

  }

}

.tax-product_categories {
  .wrapper.main-content-wrapper {
    background: #f3f3f3;
    border-bottom: 2px solid #EEE;
  }

  #main {
    main.full-width {
      width: 100%;
      border: 0;

      h2 {
        text-transform: capitalize;
        line-height: 1.3;
        color: $avidyne-accent;
        text-align: center;
      }

      .entry-content {
        max-width: rem-calc(930);
        margin: auto;

        span {
          color: $avidyne-teal;
          display: inline-block;
        }

        h3 {
          color: $avidyne-accent;
          font-size: rem-calc(30);
          margin-top: 0;
          margin-bottom: rem-calc(25);
          font-weight: $global-weight-bold;
        }

        .av_one_third {
          p {
            min-height: rem-calc(100);
            margin: 0;
            position: relative;

            img {
              position: absolute;
              bottom: 0;
            }

          }

        }

        p,
        li {
          font-size: rem-calc(20);
          line-height: 1.6;
          color: $avidyne-content-color;
          margin-left: 0;
          margin-right: 0;

          strong {
            color: $satan-gray;
          }

        }

      }

    }

  }

  #related-products-title {
    padding-top: rem-calc(50);
  }

}

.entry-content-wrapper,
.entry-content {
  .inner-border-av-border-fat,
  .inner-border-av-border-thin {
    border-color: $avidyne-blue !important;
    // Override inline styles
  }

  .hr-custom {
    margin-bottom: rem-calc(10) !important;
    // Override inline styles
  }

  h2.av-special-heading-tag {
    text-transform: capitalize;
    line-height: 1.3;
    color: $avidyne-accent;
  }

  p {
    max-width: rem-calc(900);
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: $satan-gray;
  }

}

.avidyne-icon {
  box-sizing: border-box;

  .container {
    padding: 0;

    & > div {
      display: table;
      margin: auto;
      border-radius: 50%;
      max-width: rem-calc(100);
      background-color: #EEE;

      img {
        display: block;
        margin: auto;
        padding: rem-calc(10);
      }

    }

  }

}

.sfsi_widget {
  .sfsi_wDiv {
    min-width: rem-calc(400);

    .sfsi_wicons {
      max-width: rem-calc(25);
      height: 100% !important;
    }

  }

}

#go-pricing-table-3208,
#go-pricing-table-3249,
#go-pricing-table-3294 {
  margin: rem-calc(25 0);

  .gw-go-col.gw-go-clean-style1 .gw-go-body > li.gw-go-even {
    background: #fdfdfd;
  }

  li {
    border: 0 !important;

    .fa-check,
    .fa-minus,
    .fa-times {
      background: $avidyne-teal;
      border-radius: 50%;

      &::before {
        color: $white;
        padding: rem-calc(5) rem-calc(5);
        display: block;
      }

    }

    .fa-minus,
    .fa-times {
      background: $avidyne-content-color;

      &::before {
        color: $white;
        padding: rem-calc(5) rem-calc(6.6);
      }

    }

    .fa-times {
      background: rgba($avidyne-content-color, 0.3);
    }

  }

  .gw-go-col-inner {
    border-bottom: 0 !important;
  }

  .gw-go-col-wrap-0 {
    .gw-go-col-inner {
      border: 0 !important;
      background: transparent;

      .gw-go-body {
        border-bottom: 0;

        li {
          background: transparent;

          &:nth-child(odd) {

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ebebeb+50&0+0,1+50 */
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.02) 1%, rgba(235, 235, 235, 1) 50%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.02) 1%, rgba(235, 235, 235, 1) 50%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.02) 1%, rgba(235, 235, 235, 1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ebebeb', GradientType=1); /* IE6-9 */
          }

        }

        div {
          text-align: right;
          padding-right: rem-calc(20);
        }

      }

    }

  }

  .gw-go-body {
    border-bottom: 0;
  }

  .gw-go-header {
    img {
      max-width: rem-calc(100);
      width: 100%;
      margin: rem-calc(20) auto rem-calc(10) auto !important;
    }

    strong {
      font-weight: $global-weight-medium;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 rem-calc(15);
      display: block;
      color: $satan-gray;
    }

    .label-placeholder {
      display: block;
      margin: rem-calc(68.3) 0;
      height: 100%;
    }

  }

  .gw-go-body {
    .gw-go-body-cell {
      img {
        max-width: rem-calc(40);
        width: 100%;
      }

    }

  }

}

#go-pricing-table-3249,
#go-pricing-table-3294 {
  margin: rem-calc(100 0);

  * {
    border: 0;
  }

  .gw-go-col.gw-go-clean-style1 .gw-go-body > li.gw-go-even {
    background: #F8F8F8;
  }

  .fa-times {
    background: rgba($avidyne-content-color, 1) !important;
  }

  .gw-go-col-wrap-1 {
    // padding-right: rem-calc(5);
  }

  .gw-go-col-wrap-2 {
    // padding-left: rem-calc(5);
  }

  .gw-go-col-wrap-2 {
    .fa-check {
      background: rgba($avidyne-content-color, 1) !important;
    }

  }

  .gw-go-col-wrap-1,
  .gw-go-col-wrap-2 {
    background: #F8F8F8;
    padding-bottom: 0;

    .gw-go-col-inner {
      &::before {
        display: none;
      }

      .gw-go-tooltip {
        display: none !important;
      }

    }

  }

  .gw-go-col-wrap-0 {
    .gw-go-header {
      background: transparent;
    }

    .gw-go-col-inner {
      border: 0 !important;

      .gw-go-body {
        border-bottom: 0;

        .gw-go-body-cell,
        .gw-go-body-cell strong {
          font-size: rem-calc(13) !important;
        }

        li {
          background: transparent !important;

          &:nth-child(odd) {
            background: $avidyne-extra-color !important;
          }

        }

        div {
          text-align: right;
          padding-right: rem-calc(20);
        }

      }

    }

  }

  .gw-go-col-wrap-1,
  .gw-go-col-wrap-2 {
  }

  .gw-go-header {
    background: #F8F8F8;

    img {
      max-width: rem-calc(200);
      width: 100%;
      margin: rem-calc(20) auto rem-calc(10) auto !important;
    }

    .label-placeholder {
      display: block;
      margin: rem-calc(135) 0;
      height: 100%;
    }

  }

  .gw-go-body {
    .gw-go-body-cell,
    .gw-go-body-cell strong {
      color: $satan-gray;
      font-size: rem-calc(13);
    }

    .gw-go-body-cell {
      i {
        font-size: rem-calc(12);
      }

    }

    li[data-row-index] {
      background: $avidyne-extra-color;

      &.gw-go-even {
        background: #F8F8F8;

        &:last-child {
          padding: 0 !important;
          height: 100% !important;
          max-height: 100% !important;

          .gw-go-body-cell {
            background: #F8F8F8;
            padding: rem-calc(40 0) !important;
            height: 100% !important;
            max-height: 100% !important;
            display: block;
            min-height: rem-calc(17);
          }

        }

      }

    }

    .avidyne-teal {
      @include white-hollow-btn($avidyne-teal, #FFF, "");
      margin: rem-calc(10) auto;
      border-width: 1px;
      font-size: rem-calc(16);
    }

  }

}

.tab_content {
  padding: 0 !important;
  overflow: hidden !important;
}

#product-gallery {
  .slick-prev,
  .slick-next {
    &:before {
      color: $black;
    }

  }

}